[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "ethos-u-core-platform"]
	path = ethos-u-core-platform
	url = https://review.mlplatform.org/ml/ethos-u/ethos-u-core-platform
[submodule "CMSIS-NN"]
	path = CMSIS-NN
	url = https://github.com/ARM-software/CMSIS-NN.git
